* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
.desktop1 {
  display: none;
}
@media (min-width: 1024px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .desktop1 {
    display: block;
  }
  .forMobile {
    display: none;
  }
  .about {
    text-decoration: none;
    color: black;
  }
  .flexDesktop1 {
    display: flex;
    gap: 8em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .flexDesktop {
    display: flex;
    gap: 1em;
  }
  .centerCon1 {
    padding-right: 15em;
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
  .signin {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 2em;
  }
  .signup {
    text-decoration: none;
    color: #f53838;
    border: #f53838 1px solid;
    padding: 0.2em 1em;
    border-radius: 2em;
    font-weight: 700;
  }
}
.upperCon {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
}
.logoCon {
  width: 30%;
}
@media (min-width: 1024px) {
  .logoCon {
    width: 10%;
  }
  .imagetextCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2em;
  }
  .headerCon {
    width: 45%;
  }
}
.lasles1 {
  font-weight: 700;
  font-size: 1.7em;
  text-align: left;
}
@media (min-width: 1024px) {
  .lasles1 {
    font-size: 3em;
  }
}
.wordsCon {
  padding: 2em 0;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 1024px) {
  .wordsCon {
    text-align: left;
  }
}
.getstarted {
  text-decoration: none;
  border: 2px solid #f53838;
  background-color: #f53838;
  color: white;
  padding: 0.3em 2em;
  border-radius: 0.5em;
  font-weight: 500;
}

.imageCon {
  padding: 3.5em 0;
}
@media (min-width: 1024px) {
  .imageCon {
    width: 45%;
  }
}
.flexCon {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .flexCon {
    justify-content: space-between;
  }
}
.flexBox {
  display: flex;
  gap: 1em;
  width: 70%;
}
@media (min-width: 1024px) {
  .flexBox {
    width: 20%;
  }
}
.image1 {
  width: 35%;
}
@media (min-width: 1024px) {
  .image1 {
    width: 10%;
  }
  .widthBox {
    width: 45%;
  }
}
.sizing {
  font-size: 12px;
}
.flexbox2 {
  display: flex;
  gap: 0.8em;
  padding-top: 1em;
}
.sizing2 {
  font-size: 14px;
}
.lasles2 {
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
.lasles3 {
  text-align: center;
  font-size: 0.7em;
  padding-bottom: 2em;
}
@media (min-width: 1024px) {
  .desktopplancon {
    display: flex;
    justify-content: space-between;
  }
}
.image2 {
  width: 50%;
  margin: 0 auto;
  margin-top: 2.5em;
}
@media (min-width: 1024px) {
  .image2 {
    width: 40%;
  }
  .onebox {
    border: 2px solid grey;
    padding-bottom: 2em;
    width: 20%;
    border-radius: 1em;
  }
}
.centerCon {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .centerCon {
    width: 80%;

    align-items: center;
  }
}
.freecon {
  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
  padding-top: 2em;
}
.selectBox {
  padding-top: 2em;
  text-align: center;
}
.select {
  text-decoration: none;
  color: #f53838;
  border: 2px solid #f53838;
  padding: 0.5em 3em;
  border-radius: 2em;
  font-weight: bold;
}
.select2 {
  text-decoration: none;
  background-color: #f53838;
  color: white;
  border: 2px solid #f53838;
  padding: 0.5em 3em;
  border-radius: 2em;
  font-weight: bold;
}
.imageCon2 {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.image3 {
  width: 17%;
}
@media (min-width: 1024px) {
  .mainCon {
    display: flex;
    justify-content: space-between;
  }
}
.borderbox {
  border: 2px solid grey;
  border-radius: 1em;
  margin-bottom: 3em;
}
.borderbox:hover {
  border: 2px solid #f53838;
}
@media (min-width: 1024px) {
  .borderbox {
    width: 30%;
  }
}

.theWidthCon {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}
.flexbox4 {
  display: flex;
  gap: 1em;
}
.flex {
  display: flex;
  gap: 4em;
  align-items: center;
}
.borderbox2 {
  border: 2px solid grey;
  border-radius: 1em;
  padding: 1em 0;
  margin-bottom: 3em;
}
@media (min-width: 1024px) {
  .borderbox2 {
    width: 30%;
  }
}

.borderbox3 {
  border: 2px solid grey;
  border-radius: 1em;
  padding: 1em 0;
  margin-bottom: 3em;
}
@media (min-width: 1024px) {
  .borderbox3 {
    width: 30%;
  }
}

.desktop {
  display: none;
}
@media (min-width: 1024px) {
  .desktop {
    display: block;
  }
  .widthimage {
    width: 10%;
  }
  .fleximage {
    display: flex;
    justify-content: space-between;
  }
  .fleximage2 {
    display: flex;
    align-items: center;
    border: 2px solid red;
    text-align: center;
  }
  .widthimage2 {
    width: 25%;
  }
}
.lasles4 {
  text-align: center;
  font-size: 0.7em;
  padding-bottom: 3em;
}
.subscribe {
  text-align: center;
}
.subscribenow {
  text-decoration: none;
  border: 2px solid #f53838;
  background-color: #f53838;
  color: white;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  font-weight: 500;
}
.footercolor {
  background-color: whitesmoke;
  margin-top: 2em;
  padding-bottom: 2em;
}
@media (min-width:1024px) {
  .mixBox{
    display: flex;
    justify-content: space-between;
  }
}
.logoCon2 {
  width: 40%;
  margin: 0 auto;
  padding-top: 4em;
}
@media (min-width: 1024px) {
  .logoCon2 {
    width: 30%;
    margin: 0;
  }
  .secondNew {
    width: 60%;
  }
  .private {
    text-align: left;
    padding-top: 1em;
  }
}
.flexCon2 {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .flexCon2 {
    justify-content: left;
  }
  .widthappcon{
    width: 10%;
  }
}
.lasless {
  text-align: center;
  padding-bottom: 2em;
}
@media (min-width: 1024px) {
  .lasless {
    text-align: left;
    font-size: 14px;
    color: grey;
  }
  .mainBox{
    display: flex;
    padding-top: 4em;
    justify-content: space-between;
    width: 50%;
  }
}
.flexCon3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;
}
.product {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1em;
}
.download {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .newflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .newCon {
    width: 25%;
    text-align: left;
  }
}
